<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/login.css">
</head>
<body>
  <h1><%=err%></h1>
  <div class="login-container">
    <div class="login-form">
      <div class="input-container">
        <h2>sign in form</h2>
        <form action="/signin" method="POST">
          <div class="m-3">
            <label for="userName">userName :</label>
            <input type="text" placeholder="User name" name="userName" class="text">
          </div>

          <div class="m-3">
            <label for="Password">password :</label>
            <input type="password" placeholder="password" name="Password" class="text">
          </div>

          <div class="m-3">
            <label for="email">email :</label>
            <input type="text" placeholder="email address" name="email" class="text">
          </div>

          <div class="m-3">
            <label for="gender">male </label>
            <input type="radio" name="gender" value="male">
            <label for="gender">female </label>
            <input type="radio" name="gender" value="female">
          </div>

          <input type="submit" class="sub-btn" value="submit">
        </form>
      </div>
    </div>
  </div>
</body>
</html>